// light set
$background:  #D6D6D6;
$button-background: #D6D6D6;
$dark-shadow: #474343;
$light-shadow: #FFFFFF;
$active-light-shadow: #FFF8F8;
$active-dark-shadow: #474343;
$font-color: #27292B;

// dark set
//$background: #313336;
//$button-background: #27292B;
//$dark-shadow: #0A0A0A;
//$light-shadow: #858383;
//$active-light-shadow: #858383;
//$active-dark-shadow: #0A0A0A;
//$font-color: #D7D7D8;
