.btn {
  grid-column: span 2;
  color: $font-color;
  background-color: $button-background;
  border-radius: 10%;
  box-shadow: 3px 3px 7px $dark-shadow, -3px -3px 7px $light-shadow;
  transition: all 0.2s linear;
  cursor: pointer;

  @include respond(md) {
    font-size: 1.6rem;
    box-shadow: 2px 2px 3px $dark-shadow, -2px -2px 3px $light-shadow;
  }

  @include respond(sm) {
    font-size: 1rem;
    box-shadow: 1.5px 1.5px 3px $dark-shadow, -1.5px -1.5px 3px $light-shadow;
  }

  &.active,
  &:active {
    box-shadow: 1px 1px 2px $active-light-shadow, -1px -1px 2px $active-dark-shadow;

    @include respond(sm) {
      box-shadow: 0.5px 0.5px 2px $active-light-shadow, -0.2px -0.2px 1px $active-dark-shadow;
    }
  }

  &-big {
    border-radius: 5px;

    @include respond(xl) {
      font-size: 1.8rem;
    }

    @include respond(lg) {
      font-size: 1.6rem;
    }

    @include respond(md) {
      font-size: 1.2rem;
    }

    @include respond(sm) {
      font-size: 0.8rem;
      border-radius: 2px;
    }
  }

  &.backspace,
  &.enter,
  &.caps-lock,
  &.shift {
    grid-column: span 4;
  }

  &.second {
    grid-column: span 2;
  }

  &.ctrl {
    grid-column: span 3;
  }

  &.space {
    grid-column: span 14;
    color: transparent;
  }
}

.theme .btn {
  color: #D7D7D8;
  background-color: #27292B;
  box-shadow: 3px 3px 7px #0A0A0A, -3px -3px 7px #858383;

  @include respond(md) {
    box-shadow: 1px 1px 5px #0A0A0A, -1px -1px 3px #858383;
  }

  @include respond(sm) {
    box-shadow: 1px 1px 3px #0A0A0A, -1px -1px 2px #858383;
  }

  &.active,
  &:active {
    box-shadow: 1px 1px 2px #858383, -1px -1px 2px #0A0A0A;
  }

  &.space {
    color: transparent;
  }
}
