.btn {
  grid-column: span 2;
  color: $font-color;
  background-color: $background;
  border-radius: 20%;
  box-shadow: 5px 5px 10px $dark-shadow, -5px -5px 10px $light-shadow;
  cursor: pointer;

  &:active {
    box-shadow: 1px 1px 2px $active-light-shadow, -1px -1px 2px $active-dark-shadow;
  }

  &-big {
    border-radius: 10px;
  }

  &.backspace,
  &.enter,
  &.caps-lock,
  &.shift {
    grid-column: span 4;
  }

  &.second {
    grid-column: span 2;
  }

  &.ctrl {
    grid-column: span 3;
  }

  &.space {
    grid-column: span 14;
  }
}
