.theme-toggle {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 2px 2px 7px $dark-shadow, -2px -2px 7px $light-shadow;
  transition: all 0.2s linear;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    box-shadow: 1px 1px 2px $active-light-shadow, -1px -1px 2px $active-dark-shadow;
  }

  &__icon {
    font-size: 1.5rem;
    color: $font-color;
  }
}

.theme .theme-toggle {
  box-shadow: 2px 2px 7px #0A0A0A, -2px -2px 7px #858383;

  &:active {
    box-shadow: 1px 1px 2px #858383, -1px -1px 2px #0A0A0A;
  }

  &__icon {
    color: #D7D7D8;
  }
}
