.keyboard {
  display: grid;
  border-radius: 1px;
  grid-template-columns: repeat(30, 2.9rem);
  grid-template-rows: repeat(5, 5.8rem);
  gap: 1rem;

  user-select: none;

  @include respond(xl) {
    grid-template-columns: repeat(30, 2.4rem);
    grid-template-rows: repeat(5, 4.8rem);
    gap: 0.8rem;
  }

  @include respond(lg) {
    grid-template-columns: repeat(30, 2.2rem);
    grid-template-rows: repeat(5, 4.4rem);
    gap: 0.7rem;
  }

  @include respond(md) {
    grid-template-columns: repeat(30, 1.6rem);
    grid-template-rows: repeat(5, 3.2rem);
    gap: 0.5rem;
  }

  @include respond(sm) {
    grid-template-columns: repeat(30, 1.1rem);
    grid-template-rows: repeat(5, 2.2rem);
    gap: 0.2rem;
  }
}
