.app {
  background-color: $background;
  width: 100%;
  min-height: 100vh;
  padding: 10rem 0;
  display: grid;
  place-items: center;

  &.theme {
    background-color: #313336;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
