@import "sass/base/normalize";

@import "sass/abstracts/mixins";
@import "sass/abstracts/variables";

@import "sass/base/base";
@import "sass/base/typography";

@import "app";
@import "components/button/button";
@import "components/keyboard/keyboard";
@import "components/display/display";

body {
  width: 100%;
  background-color: $body-background;
}

#root {
  position: relative;
  min-height: 100vh;
}



