@import "sass/base/normalize";

@import "sass/abstracts/mixins";
@import "sass/abstracts/variables";

@import "sass/base/base";
@import "sass/base/typography";

@import "app";
@import "components/button/button";
@import "components/keyboard/keyboard";

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(assets/images/carbon-fibre.webp);
}



